# Configuración de Base de Datos
DB_USERNAME=my_user
DB_PASSWORD=my_password
DB_URL=jdbc:oracle:thin:@//host.docker.internal:1521/XEPDB1

# Configuración de Azure
AZURE_TENANT_ID=05e8b5a7-b9e0-40d2-9d95-1a1ee52e838a